{% extends 'layouts/base.html' %}
{% load static %}

{% block body %}
<div id="login_app">
  <section class="hero is-info is-fullheight-with-navbar is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-6">

            <!-- This will be executed in case of activation link start -->
            {% if account_activated == False %}
            <article class="message is-danger">
              <div class="message-header">
                <p>Account Activation</p>
                <button class="delete" aria-label="delete"></button>
              </div>
              <div class="message-body">
                Activation link is invalid or expired, Please register again.
              </div>
            </article>
            {% endif %}
            {% if account_activated == True %}
            <article class="message is-success">
              <div class="message-header">
                <p>Account Activation</p>
                <button class="delete" aria-label="delete"></button>
              </div>
              <div class="message-body">
                <p>Hii <b>{{user.email}}</b>, your account has been successfully activated.</p>
                <p>Please login with your credentials below</p>
              </div>
            </article>
            {% endif %}
            <!-- end -->

            <p class="title">
              SearchYourGuru
            </p>
            <p class="subtitle">Login Now</p>

            <div class="box">
              <form action="#" v-on:submit.prevent="login" method="POST">
                <div class="field">
                  <p class="control has-icons-left has-icons-right">
                    <input v-model="login_email" class="input" type="email" placeholder="Email" required>
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i class="fas fa-check"></i>
                    </span>
                  </p>
                  <p class="help is-danger" v-if="login_email_error == true">Please enter a valid email</p>
                </div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input v-model="login_password" class="input" type="password" placeholder="Password" required>
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                  <p class="help is-danger" v-if="login_password_error == true">Please enter password</p>
                </div>

                <article class="message is-danger" v-if="login_error_message!=null">
                  <div class="message-body">
                    [[login_error_message]]
                  </div>
                </article>

                <div class="field">
                  <p class="control">
                    <button type="submit" v-on:submit="login" id="login-btn" class="button is-success" v-bind:class="{'is-loading':is_login_loading}">
                      Login
                    </button>
                  </p>
                </div>
              </form>
              <hr>
              <p>Dont have an account, <a href="{% url 'pages:signup' %}">Register here</a></p>
            </div>


          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/controllers/login.js' %}"></script>
{% endblock %}
