{% extends 'layouts/base.html' %}
{% load static %}

{% block body %}
<div id="password_reset_app">
  <section class="hero is-info is-fullheight-with-navbar is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-6">

            <p class="title">
              SearchYourGuru.
            </p>
            <p class="subtitle">Password Reset</p>

            {% if password_reset_verification == False %}
            <article class="message is-danger">
              <div class="message-body">
                Password reset link is invalid or expired, Please try again.
              </div>
            </article>
            {% endif %}

            <article class="message is-success" v-if="verification_msg != null">
              <div class="message-body">
                <p>[[verification_msg]]</p>
              </div>
            </article>

            {% if password_reset_verification == True %}
            <div class="box">
              <form action="#" v-on:submit.prevent="change_password" method="POST">
                <div class="field">
                  <p class="control has-icons-left">
                    <input class="input" id="user_email" type="email" placeholder="email" value="{{user.email}}" required disabled>
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input v-model="new_password" class="input" type="password" placeholder="New Password" required>
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                  <p class="help is-danger" v-if="new_password_error == true">Please enter password</p>
                </div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input v-model="confirm_new_password" class="input" type="password" placeholder="Confirm New Password" required>
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                  <p class="help is-danger" v-if="confirm_new_password_error == true">Please enter confirm password</p>
                </div>
                <article class="message is-danger" v-if="error_msg!=null">
                  <div class="message-body">
                    [[error_msg]]
                  </div>
                </article>
                <div class="field">
                  <p class="control">
                    <button type="submit" v-on:submit="change_password" class="button is-success" v-bind:class="{'is-loading':is_loading}">
                      Change Password
                    </button>
                  </p>
                </div>
              </form>
            </div>

            {% else %}

            <div class="box">
              <form action="#" v-on:submit.prevent="resend_reset_email" method="POST">
                <div class="field">
                  <p class="control has-icons-left has-icons-right">
                    <input v-model="reset_email" class="input" type="email" placeholder="Email" required>
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i class="fas fa-check"></i>
                    </span>
                  </p>
                  <p class="help is-danger" v-if="reset_email_error == true">Please enter a valid email</p>
                </div>
                <article class="message is-danger" v-if="error_msg!=null">
                  <div class="message-body">
                    [[error_msg]]
                  </div>
                </article>
                <div class="field">
                  <p class="control">
                    <button type="submit" v-on:submit="resend_reset_email" class="button is-success" v-bind:class="{'is-loading':is_loading}">
                      Get password reset mail
                    </button>
                  </p>
                </div>
              </form>
              <hr>
              <p>Dont have an account, <a href="{% url 'pages:signup' %}">Register here</a></p>
              <p>Account already activated, <a href="{% url 'pages:login' %}">Login here</a></p>
            </div>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/controllers/password_reset.js' %}"></script>
{% endblock %}
