{% extends 'layouts/base.html' %} {% load static %} {% block body %}
<div id="password_reset_app">
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-6">
            <p class="title">
              SearchYourGuru.
            </p>
            <p class="subtitle">Password Reset</p>

            {% if password_reset_verification == False %}
            <article class="message is-danger">
              <div class="message-body">
                Invalid Link.
              </div>

              <hr />
              <a href="http://searchyourguru.com/login/" class="button is-info"
                >Login now</a
              >
            </article>
            {% endif %}

            <article class="message is-success" v-if="verification_msg != null">
              <div class="message-body">
                <p>[[verification_msg]]</p>
              </div>
              <hr>
              <a href="http://searchyourguru.com/login/" class="button is-info"
                >Login now</a
              >
            </article>

            {% if password_reset_verification == True %}
            <div class="box">
              <form
                action="#"
                v-on:submit.prevent="change_password"
                method="POST"
                v-if="verification_msg == null"
              >
                <div class="field">
                  <p class="control has-icons-left">
                    <input
                      class="input"
                      id="user_email"
                      type="hidden"
                      placeholder="email"
                      value="{{user.email}}"
                      required
                      disabled
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input
                      v-model="new_password"
                      class="input"
                      type="password"
                      placeholder="New Password"
                      required
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                  <p class="help is-danger" v-if="new_password_error == true">
                    Please enter password
                  </p>
                </div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input
                      v-model="confirm_new_password"
                      class="input"
                      type="password"
                      placeholder="Confirm New Password"
                      required
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                  <p
                    class="help is-danger"
                    v-if="confirm_new_password_error == true"
                  >
                    Please enter confirm password
                  </p>
                </div>
                <article class="message is-danger" v-if="error_msg!=null">
                  <div class="message-body">
                    [[error_msg]]
                  </div>
                </article>
                <div class="field">
                  <p class="control">
                    <button
                      type="submit"
                      v-on:submit="change_password"
                      class="button is-success"
                      v-bind:class="{'is-loading':is_loading}"
                    >
                      Change Password
                    </button>
                  </p>
                </div>
              </form>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %} {% block extra_scripts %}
<script src="{% static 'js/controllers/password_reset.js' %}"></script>
{% endblock %}
