{% extends 'layouts/base.html' %}
{% load static %}

{% block body %}
<div id="signup_app">
  <section class="hero is-info is-fullheight-with-navbar is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-6">
            <div>
              <p class="title">
                We Help Students and Tutors Find Each Other
              </p>
              <p class="subtitle">Free Registration</p>

              <!-- Form Div -->
              <div class="box">
                <form action="#" v-on:submit.prevent="signup" method="POST">
                  <!-- User Type -->
                  <div class="field is-horizontal">
                    <div class="field-label">
                      <label class="label">I am a ?</label>
                    </div>
                    <div class="field-body">
                      <div class="field is-narrow">
                        <div class="control">
                          <label class="radio">
                            <input type="radio" name="user_type" v-model="signup_user_type" value="3" required>
                            Student or Parent
                          </label>
                          <label class="radio">
                            <input type="radio" name="user_type" v-model="signup_user_type" value="4" required>
                            Tutor
                          </label>
                        </div>
                        <p class="help is-danger" v-if="signup_user_type_error != null">[[signup_user_type_error]]</p>
                      </div>
                    </div>
                  </div>


                  <!-- Name -->
                  <div class="field">
                    <p class="control has-icons-left has-icons-right">
                      <input v-model="signup_user_name" class="input" type="text" placeholder="Full Name" required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                      </span>
                    </p>
                    <p class="help is-danger" v-if="signup_user_name_error != null">[[signup_user_name_error]]</p>
                  </div>

                  <!-- Phone -->
                  <div class="field">
                    <p class="control has-icons-left has-icons-right">
                      <input v-model="signup_user_phone" class="input" type="number" placeholder="Your Mobile Number" required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                      </span>
                    </p>
                    <p class="help is-danger" v-if="signup_user_phone_error != null">[[signup_user_phone_error]]</p>
                  </div>

                  <!-- Email -->
                  <div class="field">
                    <p class="control has-icons-left has-icons-right">
                      <input v-model="signup_email" class="input" type="email" placeholder="Email" required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                      </span>
                    </p>
                    <p class="help is-danger" v-if="signup_email_error != null">[[signup_email_error]]</p>
                  </div>

                  <!-- Password -->
                  <div class="field">
                    <p class="control has-icons-left">
                      <input v-model="signup_password" class="input" type="password" placeholder="Password" required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </p>
                    <p class="help is-danger" v-if="signup_password_error != null">[[signup_password_error]]</p>
                  </div>

                  <!-- Confirm Password -->
                  <div class="field">
                    <p class="control has-icons-left">
                      <input v-model="signup_confirm_password" class="input" type="password" placeholder="Confirm Password" required>
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </p>
                  </div>

                  <div class="field">
                    <p class="control">
                      <button type="submit" v-on:submit="signup" class="button is-success" v-bind:class="{'is-loading':is_signup_loading}">
                        Create Account
                      </button>
                    </p>
                  </div>
                </form>
                <hr>
                <p>Already have an account, <a href="{% url 'pages:login' %}">Login here</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/controllers/signup.js' %}"></script>
{% endblock %}
