{% extends 'layouts/base.html' %}
{% load static %}

{% block body %}
<div id="signup_app">
  <section class="hero is-info is-fullheight-with-navbar is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-4">
            <article class="message is-success" v-if="success_signup_message!=null">
              <div class="message-header">
                <p>Thank you for creating an account</p>
                <button class="delete" aria-label="delete"></button>
              </div>
              <div class="message-body">
                <p>Please <b>verify</b> your <b>email address</b>.</p>
                <p>We have sent an <b>account activation link</b> to the email you provided, <b>click</b> on the link to <b>activate your account</b>.</p>
                <p>*Note: If clicking the link does not work try copying and pasting the link in your browser.</p>
              </div>
            </article>
            <div v-if="success_signup_message==null">
              <p class="title">
                We Help Students and Tutors Find Each Other
              </p>
              <p class="subtitle">Free Registration</p>

              <!-- Form Div -->
              <div>

                <!-- User Type -->
                <div class="field is-horizontal">
                  <div class="field-label">
                    <label class="label">I am a ?</label>
                  </div>
                  <div class="field-body">
                    <div class="field is-narrow">
                      <div class="control">
                        <label class="radio">
                          <input type="radio" name="user_type" v-model="signup_user_type" value="3">
                          Student or Parent
                        </label>
                        <label class="radio">
                          <input type="radio" name="user_type" v-model="signup_user_type" value="4">
                          Tutor
                        </label>
                      </div>
                    </div>
                  </div>
                </div>


                <!-- Name -->
                <div class="field">
                  <p class="control has-icons-left has-icons-right">
                    <input v-model="signup_user_name" class="input" type="text" placeholder="Full Name" required>
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i class="fas fa-check"></i>
                    </span>
                  </p>
                </div>

                <!-- Name -->
                <div class="field">
                  <p class="control has-icons-left has-icons-right">
                    <input v-model="signup_user_phone" class="input" type="text" placeholder="Your Mobile Number" required>
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i class="fas fa-check"></i>
                    </span>
                  </p>
                </div>

                <!-- Email -->
                <div class="field">
                  <p class="control has-icons-left has-icons-right">
                    <input v-model="signup_email" class="input" type="email" placeholder="Email" required>
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i class="fas fa-check"></i>
                    </span>
                  </p>
                </div>

                <!-- Password -->
                <div class="field">
                  <p class="control has-icons-left">
                    <input v-model="signup_password" class="input" type="password" placeholder="Password" required>
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>

                <!-- Confirm Password -->
                <div class="field">
                  <p class="control has-icons-left">
                    <input v-model="signup_confirm_password" class="input" type="password" placeholder="Confirm Password" required>
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>


                <!-- signup_error_message -->
                <article class="message is-danger" v-if="signup_error_message!=null">
                  <div class="message-body">
                    [[signup_error_message]]
                  </div>
                </article>
                <div class="field">
                  <p class="control">
                    <button v-on:click="signup" class="button is-success" v-bind:class="{'is-loading':is_signup_loading}">
                      Create Account
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/controllers/signup.js' %}"></script>
{% endblock %}
