{% extends 'layouts/base.html' %}
{% load static %}

{% block body %}
<div id="verification_app">
  <section class="hero is-info is-fullheight-with-navbar is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-6">

            <p class="title">
              SearchYourGuru.
            </p>
            <p class="subtitle">Account Verification</p>

            {% if source == 'signup' %}
            <article class="message is-success">
              <div class="message-body">
                <p>Hii {{verification_email}},</p>
                <p>We have sent an activation link to your account,kindly check your inbox.</p>
                <p>If not received within 60 seconds, kindly click on button below</p>
              </div>
            </article>
            {% endif %}

            {% if source == 'login' %}
            <article class="message is-danger">
              <div class="message-body">
                <p>Hii {{verification_email}},</p>
                <p>Please verify your email first before login.</p>
              </div>
            </article>
            {% endif %}

            <article class="message is-success" v-if="verification_msg != null">
              <div class="message-body">
                <p>[[verification_msg]]</p>
              </div>
            </article>

            <div class="box">
              <form action="#" v-on:submit.prevent="resend_verification_email" method="POST">
                <div class="field">
                  <p class="control has-icons-left has-icons-right">
                    <input v-model="verification_email" class="input" type="email" placeholder="Email" required>
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i class="fas fa-check"></i>
                    </span>
                  </p>
                  <p class="help is-danger" v-if="verification_email_error == true">Please enter a valid email</p>
                </div>
                <article class="message is-danger" v-if="error_msg!=null">
                  <div class="message-body">
                    [[error_msg]]
                  </div>
                </article>
                <div class="field">
                  <p class="control">
                    <button type="submit" v-on:submit="resend_verification_email" class="button is-success" v-bind:class="{'is-loading':is_loading}">
                      Get verification mail
                    </button>
                  </p>
                </div>
              </form>
              <hr>
              <p>Dont have an account, <a href="{% url 'pages:signup' %}">Register here</a></p>
              <p>Account already activated, <a href="{% url 'pages:login' %}">Login here</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/controllers/verification.js' %}"></script>
{% endblock %}
