{% extends 'layouts/base.html' %}
{% load static %}

{% block body %}
<section class="hero is-info is-bold is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-8">
          <p class="title">
            SearchYourGuru
          </p>
          <div class="box">
            <form action="{% url 'pages:search' %}" method="get">
              <div class="columns is-multiline">
                <div class="column is-3">
                  <!-- City  -->
                  <div class="field is-horizontal">
                    <div class="field-body">
                      <div class="field">
                        <label class="label">City</label>
                        <div class="control">
                          <select name="city" class="input">
                            <option value="0">Delhi</option>
                            <option value="0">Delhi</option>
                            <option value="0">Delhi</option>
                            <option value="0">Delhi</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="column is-3">
                  <!-- City  -->
                  <div class="field is-horizontal">
                    <div class="field-body">
                      <div class="field">
                        <label class="label">Looking</label>
                        <div class="control">
                          <select name="type" class="input">
                            <option value="0">Tutors</option>
                            <option value="0">Students</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="column is-3">
                  <!-- City  -->
                  <div class="field is-horizontal">
                    <div class="field-body">
                      <div class="field">
                        <label class="label">Course</label>
                        <div class="control">
                          <select name="type" class="input">
                            <option value="0">BCA</option>
                            <option value="0">MCA</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="column is-3">
                  <div class="field">
                    <label for="" class="label">
                      <span class="icon is-small is-left">
                        <i class="fas fa-search"></i>
                      </span>
                    </label>
                    <p class="control">
                      <button type="submit" v-on:submit="signup" class="button is-success">
                        Search
                      </button>
                    </p>
                  </div>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <center>
      <a href="{% url 'pages:signup' %}" class="button is-success">
        Register & Get your 1st connection for free
      </a>
    </center>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title has-text-centered">Learn & Earn - 3 Step Process</h1>
    <hr>
    <div class="columns is-centered">
      <div class="column is-9">
        <div class="columns">

          <div class="column is-full">
            <figure class="image">
              <img src="{% static 'img/student-h1.jpg' %}" alt="">
            </figure>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="section">
  <div class="container">
    <center>
      <a href="{% url 'pages:signup' %}" class="button is-success">
        Register For a Free Account Today
      </a>
    </center>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title has-text-centered">Why US</h1>
    <hr>
    <div class="columns is-centered">
      <div class="column is-9">
        <div class="columns">
          <div class="column is-full">
            <figure class="image">
              <img src="{% static 'img/banner1.jpg' %}" alt="">
            </figure>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}
