{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SearchYourGuru</title>
  <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
  <script src="{% static 'js/vue.js' %}"></script>
  <script src="{% static 'js/axios.js' %}"></script>
  <script src="{% static 'js/utils.js' %}"></script>
</head>

<body class="has-background-light-er">
  <div>
    {% block body %}{% endblock %}
  </div>
  {% block extra_scripts %}{% endblock %}
</body>

</html>
