<form action="#" v-on:submit.prevent="save_formdata('change_password')" method="POST">

  <!-- Old Password -->
  <div class="field">
    <p class="control has-icons-left">
      <input v-model="change_password.old_password" class="input" type="password" placeholder="Current Password" required>
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>

  <!-- New Password -->
  <div class="field">
    <p class="control has-icons-left">
      <input v-model="change_password.new_password" class="input" type="password" placeholder="New Password" required>
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>

  <!-- Confirm New Password -->
  <div class="field">
    <p class="control has-icons-left">
      <input v-model="change_password.confirm_new_password" class="input" type="password" placeholder="Confirm New Password" required>
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>

  <article class="message is-danger" v-if="change_password.error_msg!=null">
    <div class="message-body">
      [[change_password.error_msg]]
    </div>
  </article>

  <div class="field">
    <p class="control">
      <button type="submit" v-on:submit="save_formdata('change_password')" class="button is-success" v-bind:class="{'is-loading':change_password.is_loading}">
        [[change_password.mode_text]]
      </button>
    </p>
  </div>
</form>
